# режим отладки
DEBUG=True
# секретный ключ Django (можно сгенерировать, например, на https://djecrety.ir)
SECRET_KEY=secret_key
# список хостов/доменов, для которых может работать сайт
ALLOWED_HOSTS=0.0.0.0,localhost,127.0.0.1

# реквизиты подключения к СУБД PostgreSQL
DATABASE_NAME=wishu
DATABASE_USER=wishu_user
DATABASE_PASSWORD=secret

# строка подключения к БД
DATABASE_URL=postgres://wishu_user:secret@db/wishu
