$md-sys-color-primary: rgb(123, 78, 127);
$md-sys-color-surface-tint: rgb(123, 78, 127);
$md-sys-color-on-primary: rgb(255, 255, 255);
$md-sys-color-primary-container: rgb(255, 214, 254);
$md-sys-color-on-primary-container: rgb(49, 9, 56);
$md-sys-color-secondary: rgb(107, 88, 107);
$md-sys-color-on-secondary: rgb(255, 255, 255);
$md-sys-color-secondary-container: rgb(244, 219, 241);
$md-sys-color-on-secondary-container: rgb(37, 22, 38);
$md-sys-color-tertiary: rgb(130, 82, 74);
$md-sys-color-on-tertiary: rgb(255, 255, 255);
$md-sys-color-tertiary-container: rgb(255, 218, 212);
$md-sys-color-on-tertiary-container: rgb(51, 17, 12);
$md-sys-color-error: rgb(144, 74, 67);
$md-sys-color-on-error: rgb(255, 255, 255);
$md-sys-color-error-container: rgb(255, 218, 214);
$md-sys-color-on-error-container: rgb(59, 9, 7);
$md-sys-color-background: rgb(255, 247, 250);
$md-sys-color-on-background: rgb(31, 26, 31);
$md-sys-color-surface: rgb(255, 247, 250);
$md-sys-color-on-surface: rgb(31, 26, 31);
$md-sys-color-surface-variant: rgb(236, 223, 232);
$md-sys-color-on-surface-variant: rgb(77, 68, 76);
$md-sys-color-outline: rgb(126, 116, 125);
$md-sys-color-outline-variant: rgb(208, 195, 204);
$md-sys-color-shadow: rgb(0, 0, 0);
$md-sys-color-scrim: rgb(0, 0, 0);
$md-sys-color-inverse-surface: rgb(53, 47, 52);
$md-sys-color-inverse-on-surface: rgb(249, 238, 245);
$md-sys-color-inverse-primary: rgb(235, 181, 237);
$md-sys-color-primary-fixed: rgb(255, 214, 254);
$md-sys-color-on-primary-fixed: rgb(49, 9, 56);
$md-sys-color-primary-fixed-dim: rgb(235, 181, 237);
$md-sys-color-on-primary-fixed-variant: rgb(97, 55, 102);
$md-sys-color-secondary-fixed: rgb(244, 219, 241);
$md-sys-color-on-secondary-fixed: rgb(37, 22, 38);
$md-sys-color-secondary-fixed-dim: rgb(215, 191, 213);
$md-sys-color-on-secondary-fixed-variant: rgb(83, 65, 83);
$md-sys-color-tertiary-fixed: rgb(255, 218, 212);
$md-sys-color-on-tertiary-fixed: rgb(51, 17, 12);
$md-sys-color-tertiary-fixed-dim: rgb(246, 184, 174);
$md-sys-color-on-tertiary-fixed-variant: rgb(103, 59, 52);
$md-sys-color-surface-dim: rgb(226, 215, 222);
$md-sys-color-surface-bright: rgb(255, 247, 250);
$md-sys-color-surface-container-lowest: rgb(255, 255, 255);
$md-sys-color-surface-container-low: rgb(252, 240, 247);
$md-sys-color-surface-container: rgb(246, 235, 242);
$md-sys-color-surface-container-high: rgb(240, 229, 236);
$md-sys-color-surface-container-highest: rgb(234, 223, 230);

.light {
  --md-sys-color-primary: rgb(123 78 127);
  --md-sys-color-surface-tint: rgb(123 78 127);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(255 214 254);
  --md-sys-color-on-primary-container: rgb(49 9 56);
  --md-sys-color-secondary: rgb(107 88 107);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(244 219 241);
  --md-sys-color-on-secondary-container: rgb(37 22 38);
  --md-sys-color-tertiary: rgb(130 82 74);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(255 218 212);
  --md-sys-color-on-tertiary-container: rgb(51 17 12);
  --md-sys-color-error: rgb(144 74 67);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(59 9 7);
  --md-sys-color-background: rgb(255 247 250);
  --md-sys-color-on-background: rgb(31 26 31);
  --md-sys-color-surface: rgb(255 247 250);
  --md-sys-color-on-surface: rgb(31 26 31);
  --md-sys-color-surface-variant: rgb(236 223 232);
  --md-sys-color-on-surface-variant: rgb(77 68 76);
  --md-sys-color-outline: rgb(126 116 125);
  --md-sys-color-outline-variant: rgb(208 195 204);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 47 52);
  --md-sys-color-inverse-on-surface: rgb(249 238 245);
  --md-sys-color-inverse-primary: rgb(235 181 237);
  --md-sys-color-primary-fixed: rgb(255 214 254);
  --md-sys-color-on-primary-fixed: rgb(49 9 56);
  --md-sys-color-primary-fixed-dim: rgb(235 181 237);
  --md-sys-color-on-primary-fixed-variant: rgb(97 55 102);
  --md-sys-color-secondary-fixed: rgb(244 219 241);
  --md-sys-color-on-secondary-fixed: rgb(37 22 38);
  --md-sys-color-secondary-fixed-dim: rgb(215 191 213);
  --md-sys-color-on-secondary-fixed-variant: rgb(83 65 83);
  --md-sys-color-tertiary-fixed: rgb(255 218 212);
  --md-sys-color-on-tertiary-fixed: rgb(51 17 12);
  --md-sys-color-tertiary-fixed-dim: rgb(246 184 174);
  --md-sys-color-on-tertiary-fixed-variant: rgb(103 59 52);
  --md-sys-color-surface-dim: rgb(226 215 222);
  --md-sys-color-surface-bright: rgb(255 247 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(252 240 247);
  --md-sys-color-surface-container: rgb(246 235 242);
  --md-sys-color-surface-container-high: rgb(240 229 236);
  --md-sys-color-surface-container-highest: rgb(234 223 230);
}