.light-high-contrast {
  --md-sys-color-primary: rgb(56 17 63);
  --md-sys-color-surface-tint: rgb(123 78 127);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(93 51 98);
  --md-sys-color-on-primary-container: rgb(255 255 255);
  --md-sys-color-secondary: rgb(44 29 45);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(79 61 79);
  --md-sys-color-on-secondary-container: rgb(255 255 255);
  --md-sys-color-tertiary: rgb(59 24 18);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(98 55 48);
  --md-sys-color-on-tertiary-container: rgb(255 255 255);
  --md-sys-color-error: rgb(68 16 12);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(110 48 42);
  --md-sys-color-on-error-container: rgb(255 255 255);
  --md-sys-color-background: rgb(255 247 250);
  --md-sys-color-on-background: rgb(31 26 31);
  --md-sys-color-surface: rgb(255 247 250);
  --md-sys-color-on-surface: rgb(0 0 0);
  --md-sys-color-surface-variant: rgb(236 223 232);
  --md-sys-color-on-surface-variant: rgb(41 34 41);
  --md-sys-color-outline: rgb(73 64 72);
  --md-sys-color-outline-variant: rgb(73 64 72);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(53 47 52);
  --md-sys-color-inverse-on-surface: rgb(255 255 255);
  --md-sys-color-inverse-primary: rgb(255 228 252);
  --md-sys-color-primary-fixed: rgb(93 51 98);
  --md-sys-color-on-primary-fixed: rgb(255 255 255);
  --md-sys-color-primary-fixed-dim: rgb(68 28 74);
  --md-sys-color-on-primary-fixed-variant: rgb(255 255 255);
  --md-sys-color-secondary-fixed: rgb(79 61 79);
  --md-sys-color-on-secondary-fixed: rgb(255 255 255);
  --md-sys-color-secondary-fixed-dim: rgb(55 39 56);
  --md-sys-color-on-secondary-fixed-variant: rgb(255 255 255);
  --md-sys-color-tertiary-fixed: rgb(98 55 48);
  --md-sys-color-on-tertiary-fixed: rgb(255 255 255);
  --md-sys-color-tertiary-fixed-dim: rgb(72 34 28);
  --md-sys-color-on-tertiary-fixed-variant: rgb(255 255 255);
  --md-sys-color-surface-dim: rgb(226 215 222);
  --md-sys-color-surface-bright: rgb(255 247 250);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(252 240 247);
  --md-sys-color-surface-container: rgb(246 235 242);
  --md-sys-color-surface-container-high: rgb(240 229 236);
  --md-sys-color-surface-container-highest: rgb(234 223 230);
}
